<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>Welcome to the NtripCaster WWW Status Interface</title>
  </head>
    @INCLUDE bodytag.html@
    <h1> Welcome to the NtripCaster Web Status Interface </h1>
    <hr>
    This server is @SERVERNAME@, located in <a href="@URL@">@LOCATION@</a>, and run by @RPEMAIL@<br>
    Listening on port @PORT@, with the current limitations:<br>
    Listeners: @MAXLISTENERS@<br>
    Sources: @MAXSOURCES@<br>
    Max listeners per source: @MAXLISTENERSPERSOURCE@<br>
    Will throttle at @THROTTLE@ KB/s, and currently using @BANDWIDTH@ KB/s<br>
    @SERVERNAME@ has been up @UPTIME@, since @STARTTIME@.<br>
    <hr>
    <table border=0 cellspacing=0 cellpadding=3>
    <tr>        
        <td><a href="/admin?mode=stats">statistics</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Show the server statistics</td>
    </tr>
    <tr>      
      <td><a href="/admin?mode=sourcetable">sourcetable</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Show sourcetable</td>
    </tr>
    <tr>	
	<td><a href="/admin?mode=listeners">listeners</a></td>
	<td></td>
	<td></td>
	<td></td>
	<td>List connected listeners</td>
    </tr>
    <tr>      
      <td><a href="/admin?mode=sources">sources</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td>List connected sources</td>
    </tr>
    <tr>      
	<td><a href="/admin?mode=admins">admins</a></td>
	<td></td>
	<td></td>
	<td></td>
	<td>List connected admins</td>
      <td>
    </tr>
    
<!--
      <tr>        
        <td><a href="/admin?mode=auth">authentication</a></td>
	<td></td>
	<td></td>
	<td></td>
	<td>Administrate authentication files</td>
    </tr>
-->

    <tr><td colspan="5"><hr></td></tr>
    <tr>        
        <td><a href="/admin?mode=set">settings</a></td>
	<td></td>
	<td></td>
	<td></td>
	<td>List server settings</td>
    </tr>
<!--
    <tr>
	<td><a href="/admin?mode=help">help</a></td>
	<td></td>
	<td></td>
	<td></td>
	<td>Browse online ntripcaster documentation</td>
	<td></td>
    </tr>
-->
    </table>
    <hr>
  </body>
</html>

